.blank {
    margin: 3rem 0;
}

.h3 {
    color: white;
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    margin: 0.5em;
}

.content {
    padding: 5rem 3rem;
    color: white;
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

@keyframes floatUp {
    from {margin-top: 2rem;opacity: 0}
    to {margin-top: 0rem;opacity: 1}
}

.content.show {
    animation-name: floatUp;
    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-delay: 1.6s;
}

.c1 {
    font-size: 2.5rem;
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin-bottom: 3rem;
}

.footer {
    padding: 0 5rem;
}

.f1 {
    text-align: center;
    display: inline-block;
}

.f1c {
    text-align: center;
    padding: 5rem;
}

.f1cc {
    padding: 2rem 0;
}

.f1a img {
    height: 4rem;
    width: 4rem;
}

.f2b {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    vertical-align: middle;
    display: inline-block;
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.f2b.show {
    animation-name: slideOut;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes slideIn {
    from {width: 5rem}
    to {width: 0}
}

@keyframes slideOut {
    from {width: 0}
    to {width: 5rem}
}