.blank {
    margin: 3rem 0;
}

.h3 {
    color: white;
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    margin: 0.5em;
}

.content {
    padding: 5rem 3rem;
    opacity: 0;
}

@keyframes floatUp {
    from {margin-top: 2rem;opacity: 0}
    to {margin-top: 0rem;opacity: 1}
}

.content.show {
    animation-name: floatUp;
    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-delay: 1.6s;
}

.break {
    font-size: 2.5rem;
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.c1 {
    font-size: 2.5rem;
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin-bottom: 3rem;
}

.c2,.c3,.c4,.c5,.c6 {
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin: 2rem 5rem;
    text-align: center;
    font-size: 2rem;
}

.c2c,.c3c,.c4c,.c5c,.c6c {
    margin: 2rem;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.c4i {
    color: aquamarine;
}

a {
    text-decoration: none;
    color: lightgray;
}

a:hover {
    text-decoration: underline;
}

.footer {
    padding: 0 5rem;
}

.f1 {
    text-align: center;
    display: inline-block;
}

.f1c {
    text-align: center;
    padding: 5rem;
}

.f1cc {
    padding: 2rem 0;
}

.f1a img {
    height: 4rem;
    width: 4rem;
}

.f2b {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    vertical-align: middle;
    display: inline-block;
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.f2b.show {
    animation-name: slideOut;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes slideIn {
    from {width: 5rem}
    to {width: 0}
}

@keyframes slideOut {
    from {width: 0}
    to {width: 5rem}
}

@media screen and (max-width: 480px) {
    .blank {
        margin: 1rem 0;
    }
    .content {
        padding: 5rem 1rem;
    }
    .c2c img,.c3c img,.c4c img,.c5c img,.c6c img {
        height: 100%;
        width: 100%;
    }
    .c2,.c3,.c4,.c5,.c6 {
        margin: 2rem 2rem;
        font-size: 2rem;
    }
    .c2c,.c3c,.c4c,.c5c,.c6c {
        margin: 2rem 0;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
    .blank {
        margin: 1rem 0;
    }
    .content {
        padding: 6rem 1rem;
    }
    .c2c img,.c3c img,.c4c img,.c5c img,.c6c img {
        height: 100%;
        width: 100%;
    }
    .c2,.c3,.c4,.c5,.c6 {
        margin: 2rem 2rem;
        font-size: 3rem;
    }
    .c2c,.c3c,.c4c,.c5c,.c6c {
        margin: 2rem 0;
        font-size: 2.5rem;
    }
    .c1 {
        font-size: 3.5rem;
    }
    .h3 {
        font-size: 2.5rem;
    }
    .f1a img {
        height: 5rem;
        width: 5rem;
    }
}
