* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.n1.show {
    animation-name: showLinks;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 0.5s;
}

.dot1.show {
    animation-name: showLinks;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 0.6s;
}

.n2.show {
    animation-name: showLinks;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 0.7s;
}

.dot2.show {
    animation-name: showLinks;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 0.8s;
}

.n3.show {
    animation-name: showDiv;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 0.9s;
}

.dot3.show {
    animation-name: showLinks;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 1s;
}

.n4.show {
    animation-name: showLinks;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 1.1s;
}

.dot4.show {
    animation-name: showLinks;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 1.2s;
}

.n5.show {
    animation-name: showLinks;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 1.3s;
}

.dot5.show {
    animation-name: showLinks;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 1.4s;
}

.n6.show {
    animation-name: showLinks;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 1.5s;
}

.dot6.show {
    animation-name: showLinks;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 1.6s;
}

.n7.show {
    animation-name: showLinks;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 1.7s;
}

.dot7.show {
    animation-name: showLinks;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 1.8s;
}

.n8.show {
    animation-name: showLinks;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 1.9s;
}

.content {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    padding: 5rem 0;
}

.content-title {
    color: white;
    font-size: 3rem;
    padding-left: 5rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.content-p {
    color: white;
    font-size: 2rem;
    padding-left: 8rem;
    padding-bottom: 4rem;
}

.content-container {
    background-color: #8094aa;
    margin: 2rem 5rem;
    text-align: left;
    opacity: 0;
    animation-name: showDiv;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 2s;
}

@media screen and (max-width: 480px) {
    .content-title {
        color: white;
        font-size: 3rem;
        padding-left: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .content-p {
        color: white;
        font-size: 1.5rem;
        padding-left: 2rem;
        padding-bottom: 4rem;
    }

    .content-container {
        background-color: #8094aa;
        margin: 2rem 2rem;
        text-align: left;
    }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {}

@media screen and (min-width: 1024px) and (max-width: 1366px) {}