.blank {
    margin: 3rem 0;
}

.h3 {
    color: white;
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    margin: 0.5em;
}

.content {
    padding: 5rem 3rem;
    text-align: center;
    opacity: 0;
}

@keyframes floatUp {
    from {margin-top: 2rem;opacity: 0}
    to {margin-top: 0rem;opacity: 1}
}

.content.show {
    animation-name: floatUp;
    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-delay: 1.6s;
}

.title {
    font-size: 2.5rem;
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin: 5rem 0;
}

.c1 {
    font-size: 2.5rem;
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding-bottom: 4rem;
}

.c2,.c3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.c2c,.c3c {
    padding: 1rem 0;
    font-size: 1.8rem;
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: lightgray;
}

a:hover {
    text-decoration: underline;
}

.break {
    padding: 3rem 0;
    font-size: 2.5rem;
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.footer {
    padding: 0 5rem;
}

.f1 {
    text-align: center;
    display: inline-block;
}

.f1c {
    text-align: center;
    padding: 5rem;
}

.f1cc {
    padding: 2rem 0;
}

.f1a img {
    height: 4rem;
    width: 4rem;
}

.f2b {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    vertical-align: middle;
    display: inline-block;
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.f2b.show {
    animation-name: slideOut;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes slideIn {
    from {width: 5rem}
    to {width: 0}
}

@keyframes slideOut {
    from {width: 0}
    to {width: 5rem}
}

@media screen and (max-width: 480px) {
    .blank {
        margin: 1rem 0;
    }
    .content {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 5rem;
        padding-top: 3rem;
    }
    .c2,.c3 {
        font-size: 2rem;
    }
    .c2c,.c3c {
        font-size: 1.5rem;
    }
    .break {
        padding: 1.5rem 0;
    }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
    .blank {
        margin: 1rem 0;
    }
    .content {
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 8rem;
        padding-top: 3rem;
    }
    .c2,.c3 {
        font-size: 3rem;
    }
    .c2c,.c3c {
        font-size: 2.5rem;
    }
    .c1 {
        font-size: 3.5rem;
    }
    .h3 {
        font-size: 2.5rem;
    }
    .title {
        font-size: 3.5rem;
    }
}