* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.n1.show {
    animation-name: showLinks;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 0.5s;
}

.dot1.show {
    animation-name: showLinks;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 0.6s;
}

.n2.show {
    animation-name: showLinks;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 0.7s;
}

.dot2.show {
    animation-name: showLinks;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 0.8s;
}

.n3.show {
    animation-name: showLinks;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 0.9s;
}

.dot3.show {
    animation-name: showLinks;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 1s;
}

.n4.show {
    animation-name: showLinks;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 1.1s;
}

.dot4.show {
    animation-name: showLinks;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 1.2s;
}

.n5.show {
    animation-name: showLinks;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 1.3s;
}

.dot5.show {
    animation-name: showLinks;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 1.4s;
}

.n6.show {
    animation-name: showLinks;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 1.5s;
}

.dot6.show {
    animation-name: showLinks;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 1.6s;
}

.n7.show {
    animation-name: showDiv;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 1.7s;
}

.dot7.show {
    animation-name: showLinks;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 1.8s;
}

.n8.show {
    animation-name: showLinks;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 1.9s;
}

.content {
    padding: 5rem;
    text-align: center;
    opacity: 0;
}

@keyframes floatUp {
    from {margin-top: 2rem;opacity: 0}
    to {margin-top: 0rem;opacity: 1}
}

.content.show {
    animation-name: floatUp;
    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-delay: 1.6s;
}

.title {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 4rem;
}

.c1,.c2,.c3,.c4,.c5,.c6 {
    padding: 5rem;
    background-color: #c0cbd6;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    border-radius: 5px;
    width: 39%;
    display: inline-block;
    margin: 1rem;
    height: 20rem;
    vertical-align: middle;
}

.cc {
    text-align: center;
}

.cc img {
    height: 20%;
    width: 20%;
    margin-top: 2rem;
}

@media screen and (max-width: 480px) {
    .content {
        padding: 5rem 1rem;
    }
    .cc img {
        height: 50%;
        width: 50%;
    }
    .c1,.c2,.c3,.c4,.c5,.c6 {
        width: 50%;
        font-size: 2rem;
    }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
    .content {
        padding: 5rem 0;
    }
    .cc img {
        height: 30%;
        width: 30%;
    }
    .c1,.c2,.c3,.c4,.c5,.c6 {
        width: 60%;
        padding: 6rem;
        padding-bottom: 9rem;
        font-size: 3rem;
    }
    .title {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {}